---
title: Join a Study
layout: default
permalink: /join-a-study
---

<section>
  <div class="jumbotron"
    style="background-image: linear-gradient(rgba(16, 64, 86, 0.5), rgba(3, 48, 68, 0.65)), url(images/sleep_traces_2.png); background-position: center;">
    <div class="container almost-white jumbo-title">
      <h1 class="display-2 sintony">Join a Research Study</h1>
    </div>
  </div>
</section>


<section>
  <div class="container px-4">
    <h1 class="sintony display-6 pb-5">We can't do it without you.</h1>

    <div class="row gx-5 gy-4">


      <div class="col-12 col-lg-6">
        <h3 class="sintony fs-4 bold">Gratitude for our Research Participants</h3>
        <p>
          Our work could not exist without the efforts of research participants who volunteer for our
          studies,
          giving us both
          their trust and time so that we may better understand the nature of sleep, chronic pain, and
          memory
          problems. We treat
          all our research participants with respect, dignity and gratitude for the critical role they
          play in
          our
          work. We are
          committed to providing a safe, caring, professional environment for our subjects.</p>
      </div>


      <div class="col-12 col-lg-6">
        <h3 class="sintony fs-4 bold">Diversity and Inclusion Statement</h3>
        <p>
          SHARP is committed to embracing inclusivity for all our people, including our staff and our
          research
          participants. Our
          program embraces the diversity of human identity: All races, gender identities, ethnicities,
          nationalities, sexual
          orientations, socio-economic backgrounds, political views and faith perspectives are welcome to
          participate in our work.
        </p>
      </div>

    </div>
  </div>
</section>



<section class="light-theme">
  <div class="container px-4">

    <h1 class="sintony display-5 pb-4">Current studies</h1>
    <p>We offer a variety of research studies related to sleep and neurological health. Some can be done 100%
      remotely via
      mail, phone, or video visits.
    </p>
    <p>
      <span class="bold">

        Please visit the links to online surveys below to see if you are eligible to
        participate.
      </span>
    </p>


    <div class="row gy-5 text-center pt-5">

      {% for study in site.data.studies.studies %}
      <div class="col-12 col-lg-6">
        <h3 class="bold">{{ study.title }}</h3>
        <p>
          <a href="{{ study.url }}" class="btn btn-outline-dark publink fs-5">{{ study.button-text }}</a>
        </p>
        <p class="study-add-info">
          {% if study.addinfo %}
          {{ study.addinfo | markdownify }}
          {% endif %}
        </p>
        <img src="{{ study.image }}" alt="Flyer for {{ study.title }}" class="img-fluid">
      </div>
      {% endfor %}

    </div>


  </div>
</section>


<section id="studyFAQ">
  <div class="container px-4">

    <h1 class="sintony display-5 pb-4">FAQ</h1>
    <div class="col">
      {% for item in site.data.studies-faq.faq %}
      <div class="bold">{{ item.question | markdownify }}</div>
      <div class="ms-3">{{ item.answer | markdownify }}</div>
      {% endfor %}
    </div>
  </div>
</section>