---
title: People
layout: default
permalink: /people
---

<section>
  <div class="jumbotron taller-jumbo"
    style="background-image: url(images/group-photo-2022.jpeg); background-position: center;">
    <div class="container text-white jumbo-title">
      <h1 class="display-2 sintony"></h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="sintony display-4 pb-4">One team, many backgrounds.</h1>

    <p class="fs-4">
      Sleep research is a multidisciplinary field, at the crossroads of neuroscience, biology,
      physiology, medicine, mental health and wellbeing, and even philosophy.
    </p>

    <div class="row">

      <div class="col-12 col-lg-7 p-3 mx-auto my-auto">
        <img src="/images/SHARP_Lab_Pic_2020.jpeg" class="img-fluid img-border mb-4" style="width: 100%;"
          alt="Group photo of the SHARP Lab from 2020">
      </div>

      <div class="col-12 col-lg-5 mx-auto my-auto">
        <p class="fs-4">Our team members hail from diverse backgrounds
          including:</p>
        <ul>
          <span class="fs-3">
            <i class="fa-solid fa-vial fa-icon"></i>Scientists</span>
          <br>
          Neuroscientists, physiologists, biologists, physicists, computer scientists, systems scientists
        </ul>
        <ul>
          <span class="fs-3">
            <i class="fa-solid fa-heart-pulse fa-icon"></i>Clinicians</span>
          <br>
          Neurologists, psychologists, nurses, personal trainers, health coaches
        </ul>
        <ul>
          <span class="fs-3">
            <i class="fa-solid fa-gears fa-icon"></i>Engineers</span>
          <br>
          Electrical, mechanical, and biomedical engineers, materials scientists
        </ul>
        <ul>
          <span class="fs-3">
            <i class="fa-solid fa-book-open-reader fa-icon"></i>Students</span>
          <br>
          Undergraduate, masters, PhD graduate students, post-doctoral scholars
        </ul>
      </div>
    </div>

    <p class="text-center pt-3">
      <a href="./join-the-lab" class="btn btn-outline-light dblink sintony text-shadow fs-3">Interested in
        joining our team?</a>
    </p>

  </div>
</section>



<section id="currentMemebers">

  <div class="container">

    <h1 class="sintony display-4 pb-4 shadow">Current members
    </h1>

    <div class="row ">
      {% for person in site.data.people.people %}
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card mb-4 mx-auto people-card light-theme">
          <img class="card-img-top img-fluid" src="{{ person.photo }}"
            alt="{{ person.first }} {{ person.last }}'s' photo">
          <div class="card-body">
            <div class="text-center">
              <p class="card-title fs-4">{{ person.displayname }}</p>
              <p class="fs-5">
                {% if person.pronouns %}
                {{ person.pronouns }}
                {% else %}
                &#9900
                {% endif %}
              </p>
              <p>{{ person.role }}</p>
            </div>
            <!-- Bio -->
            {% if person.bio %}
            <div class="accordion accordion-flush" id="accordion{{ person.last }}">
              <div class="accordion-item">
                <div class="" id="flush-heading{{ person.last }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{ person.last }}" aria-expanded="false"
                    aria-controls="flush-collapse{{ person.last }}">
                    Bio
                  </button>
                </div>
                <div id="flush-collapse{{ person.last }}" class="accordion-collapse collapse"
                  aria-labelledby="flush-heading{{ person.last }}" data-bs-parent="#accordion{{ person.last }}">
                  <div class="accordion-body">
                    <p class="bio-text text-left">
                      {{ person.bio | markdownify }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="text-center social-icons pt-2">
              {% if person.googlescholar %}
              <a href="{{ person.googlescholar }}" target="_blank">
                <i class="ai ai-google-scholar-square ai-2x"></i>
              </a>
              {% endif %}
              {% if person.pubmed %}
              <a href="{{ person.pubmed }}" target="_blank">
                <i class="ai ai-pubmed-square ai-2x"></i>
              </a>
              {% endif %}
              {% if person.linkedin %}
              <a href="{{ person.linkedin }}" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>