<div class="container-fluid p-0 navbar-custom">
    <footer>
        <div class="row p-4">

            <div class="col-12 col-md-5 offset-md-1 pb-4">

                <p class="fjalla fs-4 logo-color">SHARP Lab</p>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./people">People</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./publications">Publications</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./press">Press &amp; Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./join-the-lab">Join the Lab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./join-a-study">Join a Study</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-5">
                <p class="sintony pb-2">Resources</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.pvarf.org/">Portland VA
                            Research Foundation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.va.gov/PORTLANDRESEARCH/index.asp">Portland VA
                            Research Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.ohsu.edu/school-of-medicine/behavioral-neuroscience">OHSU
                            Behavioral
                            Neuroscience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.ohsu.edu/school-of-medicine/behavioral-neuroscience/diversity-equity-inclusion-behavioral-neuroscience">OHSU
                            Behavioral Neuroscience Diversity, Equity &amp; Inclusion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.ohsu.edu/alzheimers-disease-research-center">OHSU
                            Layton Aging &amp; Alzheimer's Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.naps-rbd.org/">North American Prodromal
                            Synucleinopathy Consortium</a>
                    </li>
                </ul>
            </div>

        </div>
        <hr />
        <div class="text-center pb-4 pt-2">
            <p class="pt-1" style="font-size: 0.8em;">Website created by <a href=" http://www.samifriedrich.com" class="byline
                        ">Sami Friedrich</a></p>
            <p style="font-size: 0.8em;">Copyright © 2023 Sleep &amp; Health Applied Research Program. All rights
                reserved.</p>

        </div>

    </footer>
</div>