<head>
    <title>{% if page.title %}{{ page.title }} | SHARP{% else %}{{ site.title }}{%
        endif %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{% if page.description %}{{ page.description }}{% else %}The Portland Sleep &amp; Health Applied Research Program is a community of researchers and clinicians studying how sleep affects the brain in health and disease.{% endif %}">
    <meta name="author" content="Sami Friedrich">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Sintony&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- My overrides -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- Academic icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

    <!-- Netlify -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>